@font-face {
    font-family: hevetica;
    src: url('HelveticaNeueLTStd-LtCn.otf');
}
*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: hevetica;
}
a{
	text-decoration: none;
	color: white;
	font-family: hevetica;
	font-size: 20px;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
#wrapper{
	width: 100%;
}
#header{
	position: relative;
	height: 600px;
	width: 100%;
	background-image: url('../images/base.png');
}
#content{
	padding-top: 65px;
}
.had{
	font-family: hevetica;
	font-size: 36pt;
	color: #333754;
}
.had2{
	font-family: hevetica;
	font-size: 62pt;
	color: #fff;
}
#more{
	font-family:  hevetica;
	font-size: 32px;
	color: #fff;
	border: 1px solid white;
	width: 200px;
	padding: 10px;
}
#scroll{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
#scroll_span{
	font-family:  hevetica;
	color: white;
	font-size: 20px;
}
#nav{
	height: 100px;
	width: 100%;
	background-color: #292d46;
	position: relative;
}
#nav_img{
	position: absolute;
	left: 0;
	margin-top: 15px;
	margin-left: 70px;
	height: 70px;
}
#nav_ul{
	padding-top: 40px;
}
#nav ul li{
	display: inline-block;
	margin-right: 50px;
	color: #adadad;
}
.search{
	position: absolute;
	right: 0;
	margin-right: 120px;
	margin-top: 30px;
	border: 1px solid #777880;
	border-radius: 2px;
}
.search form input[type=text]{
	width: 160px;
	height: 36px;
	outline: none;
	float: left;
	padding: 0;
	background-color: #292d46;
	border: 0px;
	text-align: left;
	font-family: hevetica;
	font-size: 20px;
	padding-left: 10px;
	color: #adadad;
}
.search form input[type=submit]{
	width: 40px;
	height: 40px;
	float: left;
	background: url("../images/search.png") no-repeat;
	border: 0px;
}
#home{
	width: 100%;
	height: 700px;
	font-family: hevetica;
}
#home1{
	font-size: 35pt;
	color: #292d46;
}
#home ul li{
	display: inline-block;
	margin-right: 30px;
}
.li_span{
	padding: 5px 10px;
	border: 1px solid #adadad;
	font-family: hevetica;
	font-size: 30px;
	border-radius: 3px;
}
#home ul li:hover .li_span{
	border: 1px solid #f77268;
	background-color: #f77268;
	color: white;
	cursor: pointer;
}
#submenu1{
	width: 100%;
	font-size: 18px;
}
#left{
	text-align: left;
	float: left;
	width: 350px;
	min-height: 400px;
	margin-left: 100px;
	/*position: relative;*/
}
#left div span{
	font-size: 25pt;
}
#left div{
	position: relative;
	text-align: left;
}
#middle{
	float: left;
	margin-left: 100px;
	width: 300px;
	min-height: 420px;
	background: url('../images/mobile.png') no-repeat;
}
#right{
	text-align: left;
	float: left;
	width: 350px;
	min-height: 400px;
	margin-left: 50px;
}
#left .icons{
	position: absolute;
	left: -60px;
	top: 5px;
	font-size: 35px;
}
#left .icons:hover{
	color: #f77268;
}
#right div span{
	font-size: 25pt;
}
#right div{
	position: relative;
	text-align: left;
}
#right .icons{
	position: absolute;
	left: -60px;
	top: 5px;
	font-size: 35px;
}
#right .icons:hover{
	color: #f77268;
}
#about{
	width: 100%;
	background-color: #262626;
	position: relative;
}
#about h2{
	color: #f3f4f5;
	font-family: hevetica;
	font-size: 32px;
	/*border-bottom: 10px solid #f77268;*/
}
#u{
	padding-top: 70px;
	border-bottom: 2px solid #f77268;
	width: 85px;
	margin-bottom: 20px;
}
#outer_p{
	color: #f77268;
	width: 70%;
	font-family: hevetica;
	font-size: 26px;
	margin-bottom: 60px;
}
#about_container{
	bottom: 0;
	position: absolute;
	width: 80%;
	left: 10%;
}
.about20{
	float: left;
	font-family: hevetica;
	font-size: 40px;
	color: #f3f4f5;
	/*padding: 50px 0px;*/
	height: 310px;
	width: 25%;
	position: relative;
	overflow: hidden;
}
.fixed{
	margin-top: 50px;
}
.slide{
	top: 100%;
	opacity: 0;
	background-color: #f77268;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 20px;
	color: #f3f4f5;
	-webkit-transition: all 0.5s ease-in;
	position: absolute;
}
.inner_p{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	color: #f3f4f5;
	width: 90%;
	margin: 10px 0;

}
.about20 .fixed i{
	font-size: 70px;
	color: #f77268;
}
.about20 .slide i{
	font-size: 50px;
	color: #f77268;
}
.readmore{
	font-size: 18px;
}
.readmore:hover{
	color: #f77268;
	cursor: pointer;
}
.about20:hover i{
	color: #f3f4f5; 
}
.about20:hover .slide{
	top: 0;
	opacity: 1;
}
/*-----------------------------------------------------------------
---------------------------portfolio-------------------------------
-------------------------------------------------------------------*/
#pre_portfolio{
	height: 220px;
	width: 100%;
	background-color: #f3f4f5;
	padding-top: 80px;
}
#pre_portfolio span{
	font-size: 46px;
	color: #262626;
	border-bottom: 2px solid #f77268;
}
#port_para{
	margin-top: 50px;
	font-size: 20px;
	width: 80%;
}
#portfolio{
	background: url('../images/pf.jpg');
}
#portfolio_next{
	height: 510px;
	width: 100%;
	background-color: #f3f4f5;
	padding-top: 60px;
	font-size: 60px;
}
#portfolio_next i:hover{
	cursor: pointer;
	color: #f77268;
}
#reviews{
	height: 160px;
	background-color: #5c5c5c;
	font-size: 60px;
	margin: 0 auto;
	padding-top: 70px;
}
.review{
	float: left;
	margin-right: 50px;
	color: white;
}
.review span{
	font-size: 30px;
}
/*--------------------------------------------------------------------
-------------------------------services-------------------------------
--------------------------------------------------------------------*/
#services{
	background-color: #262626;
	width: 100%;
}
#services h1{
	font-size: 36px;
	color: #f3f4f5;
	padding-top: 60px;
	padding-bottom: 60px;
}
#services span{
	border-bottom: 2px solid #f77268;
}
.div80{
	width: 80%;
}
.service_inner{
	width: 30%;
	float: left;
	text-align: left;
	font-size: 46px;
	color: #fff;
	margin: 15px 15px;
}
.service_inner span{

}
.service_inner p{
	font-size: 20px;
	margin-top: 20px;
	text-align: left;
}
.service_inner i{
	font-size: 62px;
	color: #f77268;
	margin-right: 25px;
}
/*--------------------------------------------------------------------
-------------------------------team-----------------------------------
--------------------------------------------------------------------*/
#team{
	width: 100%;
	height: 800px;
	background-color: #f3f4f5;
}
#team h1{
	font-size: 36px;
	color: #262626;
	padding-top: 60px;
	padding-bottom: 60px;
}
#team span{
	border-bottom: 2px solid #f77268;
}
.team{
	width: 80%;
}
.team_inner{
	width: 33%;
	height: 260px;
	float: left;
	margin-bottom: 10px;
}
/*----------------------------------------------------------------------
----------------------------------blog----------------------------------
----------------------------------------------------------------------*/
#blog{
	height: 900px;
	width: 100%;
	background-color: #f3f4f5;
}
#quote{
	height: 160px;
width: 100%;
background-color: #f77268;
font-size: 45px;
color: #f3f4f5;
padding-top: 40px;8;
}
#blog h1{
	font-size: 36px;
	color: #262626;
	padding-top: 60px;
	padding-bottom: 60px;
}
#blog_span{
	border-bottom: 2px solid #f77268;
}
.blog_inner{
	width: 28%;
	float: left;
	background-color: white;
	text-align: left;
	margin-right: 5%;
}
.blog_inner img{
	height: 220px;
	width: 100%;
}
.blog_inner h2{
	text-align: left;
	margin: 10px;
	color: #262626;
}
.blog_inner span{
	margin-left: 10px;
	color: #fff;
}
.blog_inner p{
	text-align: left;
	margin: 10px;
	color: #adadad;
}
.readmore1{
	background-color: #adadad;
	padding: 10px;
	border-radius: 4px;
	display: inline-block;
	color: white;
	margin-bottom: 10px;
}
/*----------------------------------------------------------------------
-----------------------------twitter------------------------------------
----------------------------------------------------------------------*/
#twitter{
	height: 300px;
	width: 100%;
	padding-top: 95px;
	background-color: #292d46;
	position: relative;
}
#twitter i{
	font-size: 70px;
	color: #4099ff;
}
#tweet{
	font-size: 32px;
	color: #f3f4f5;
}
#envato{
	font-size: 32px;
	color: #f77268;
}
#author{
	font-size: 22px;
	color: #cdced2
}
#themeforest{
	font-size: 22px;
	color: #f77268;
}
#tweet_left{
	/*float: left;*/
	/*margin-top: 60px;*/
	position: absolute;
	top: 160px;
	left: 25px;
	/*color: #555867;*/
}
#tweet_right{
	/*float: right;*/
	/*margin-top: 60px;*/
	position: absolute;
	top: 160px;
	right: 25px;
}
/*--------------------------------------------------------------------
------------------------------plan------------------------------------
----------------------------------------------------------------------*/
#plan{
	height: 600px;
	width: 100%;
	background-color: #fff;

}
#plan h1{
	font-size: 36px;
	color: #262626;
	padding-top: 60px;
	padding-bottom: 60px;
}
#plan_span{
	border-bottom: 2px solid #f77268;
}
.float_left{
	float: left;
}
.price_plan{
	width: 200px;
	margin: 0 25px;
}
.price_plan:hover .foot_span{
	 margin-bottom: 0px;
	 padding: 20px;
	 background-color: #f77268;
	 color: white;
}
.price_plan:hover .head_span{
	 margin-top: 0px;
	 padding: 20px;
	 background-color: #f77268;
	 color: white;
}
.head_span{
	margin-top: 10px;
	background-color: #f3f4f5;
	font-size: 25px;
	padding: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 1px solid #f3f4f5;
	border-right: 1px solid #f3f4f5;
}
.price{
	font-size: 42px;
	padding: 10px;
	border-left: 1px solid #f3f4f5;
	border-right: 1px solid #f3f4f5;
}
.even{
	background-color: #f3f4f5;
	font-size: 20px;
	padding: 10px;
	border-left: 1px solid #f3f4f5;
	border-right: 1px solid #f3f4f5;
}
.odd{
	font-size: 20px;
	padding: 10px;
	border-left: 1px solid #f3f4f5;
	border-right: 1px solid #f3f4f5;
}
.foot_span{
	background-color: #f3f4f5;
	margin-bottom: 10px;
	font-size: 25px;
	padding: 15px;
	border-left: 1px solid #f3f4f5;
	border-right: 1px solid #f3f4f5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}
/*-------------------------------------------------------------------------------
------------------------------------contacts-------------------------------------
-------------------------------------------------------------------------------*/
#contact{
	width: 100%;
}
#contact h1{
	font-size: 36px;
	color: #262626;
	padding-top: 60px;
	padding-bottom: 20px;
}
#contact_span{
	border-bottom: 2px solid #f77268;
}
#contact_span2{
	color: #f77268;
	padding-bottom: 40px;
}
.input1{
	width: 350px;
	height: 42px;
	/* margin-bottom: 10px; */
	font-size: 20px;
	text-align: left;
	padding: 0 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	border-radius: 4px;
	border: 1px solid #adadad;
}
#input2{
	width: 600px;
	height: 150px;
	font-size: 20px;
	text-align: left;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #adadad;
}
.contact_top{
	margin-top: 100px;
	margin-bottom: 70px;
}
#input_submit{
	color: white;
	background-color: #f77268;
	padding: 10px;
	border-radius: 7px;
	font-size: 25px;
	display: block;
	border:0;
	cursor: pointer;
	margin-bottom: 100px;
}
/*-------------------------------------------------------------------------------
------------------------------------footer---------------------------------------
-------------------------------------------------------------------------------*/
#footer{
	height: 230px;
	width: 100%;
	background-color: #292d46;
	padding-top: 100px;
}
#fonts_footer{
	color: white;
	font-size: 50px;
	margin-bottom: 25px;
}
#fonts_footer i{
	margin-right: 32px;
}
#fonts_footer i:hover{
	color: #f77268;
	-webkit-transform: rotate(358deg);
}
#copy{
	font-size: 18px;
	color: white;
	line-height: 31px;
}